<style>
    #select-add-field .select2-container--default .select2-selection--single {border: 1px solid #3290d0;}
    #select-add-field .select2-container--default .select2-selection--single .select2-selection__rendered {color: #3290d0;}
    #select-add-field .select2-selection__arrow:before{content: '+';
      color: #3290d0;
      display: block;
      width: 30px;
      height: 26px;
      background: #fff;
      padding: 0 0 0 8px;
      line-height: 26px;
      z-index: 111111;
      position: absolute;
      font-size: 24px;
      margin: 6px 0 0 -14px;
      border-left: 1px solid #d4d4d4;}
</style>

<h2>{%trans%}УЗНАЙТЕ САМУЮ НИЗКУЮ ЦЕНУ В СЕРВИСЕ РЯДОМ С ВАМИ.<br>ЭТО БЕСПЛАТНО..{%endtrans%}</h2>
<form action="" method="POST" id="application" enctype="multipart/form-data">
    <div class="col-lg-30 col-md-40 col-sm-60">
        <div class="field" id="application-brand-field">
            <select name="brand" class="select2">
                <option selected value="0">{%trans%}Марка{%endtrans%}</option>
                {% for brand in brands %}
                <option value="{{brand.id}}">{{brand.name}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="col-lg-30 col-md-40 col-sm-60">
        <div class="field select-models">
            <select name="model_0" id="brand_0" disabled class="select2">
                <option selected value="0">{%trans%}Модель{%endtrans%}</option>
            </select>
            {% for model_id,model in models %}
            <select name="model_{{model_id}}" id="brand_{{model_id}}" style="display:none;" class="select2 select2-hidden">
                <option selected value="0">{%trans%}Модель{%endtrans%}</option>
                {% for row in model %}
                <option value="{{row.id}}">{{row.name}}</option>
                {% endfor %}
            </select>
            {% endfor %}
        </div>
    </div>

    <div class="col-lg-30 col-md-40 col-sm-60">
        <div class="field">
            <input type="tel" name="phone" value="{{authuser.tel}}" placeholder="+7 (900) 123-45-67" required pattern="^(\s*)?(\+)?([- _():=+]?\d[- _():=+]?){10,14}(\s*)?$" title="Пример: +792853001020">
        </div>
    </div>

    <div class="col-lg-30 col-md-40 col-sm-60 addfield4" style=display:none;">
        <div class="field">
            <select name="release_year" class="select2">
                <option selected>{%trans%}Год выпуска{%endtrans%}</option>
                {% for year in autoYears %}
                <option value="{{year}}">{{year}}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="col-lg-30 col-md-40 col-sm-60 addfield1" style="display: none;">
        <div class="field">
            <input name="vin" type="text" value='' placeholder="{%trans%}VIN-код{%endtrans%}">
        </div>
    </div>

    <div class="col-lg-30 col-md-40 col-sm-60 addfield5" {% if authuser.token or (authuser.gorod and authuser.token ==false ) %}style="display: none;" {% endif %}>

        <div class="field">
            <select name="city" class="select2">
                <option {% if authuser.gorod == "Астрахань" %}selected {% endif %} value="Астрахань">Астрахань</option>
                <option {% if authuser.gorod == "Барнаул" %}selected {% endif %} value="Барнаул">Барнаул</option>
                <option {% if authuser.gorod == "Белгород" %}selected {% endif %} value="Белгород">Белгород</option>
                <option {% if authuser.gorod == "Владивосток" %}selected {% endif %} value="Владивосток">Владивосток</option>
                <option {% if authuser.gorod == "Волгоград" %}selected {% endif %} value="Волгоград">Волгоград</option>
                <option {% if authuser.gorod == "Воронеж" %}selected {% endif %} value="Воронеж">Воронеж</option>
                <option {% if authuser.gorod == "Екатеринбург" %}selected {% endif %} value="Екатеринбург">Екатеринбург</option>
                <option {% if authuser.gorod == "Ижевск" %}selected {% endif %} value="Ижевск">Ижевск</option>
                <option {% if authuser.gorod == "Иркутск" %}selected {% endif %} value="Иркутск">Иркутск</option>
                <option {% if authuser.gorod == "Казань" %}selected {% endif %} value="Казань">Казань</option>
                <option {% if authuser.gorod == "Калининград" %}selected {% endif %} value="Калининград">Калининград</option>
                <option {% if authuser.gorod == "Кемерово" %}selected {% endif %} value="Кемерово">Кемерово</option>
                <option {% if authuser.gorod == "Киров" %}selected {% endif %} value="Киров">Киров</option>
                <option {% if authuser.gorod == "Краснодар" %}selected {% endif %} value="Краснодар">Краснодар</option>
                <option {% if authuser.gorod == "Красноярск" %}selected {% endif %} value="Красноярск">Красноярск</option>
                <option {% if authuser.gorod == "Курск" %}selected {% endif %} value="Курск">Курск</option>
                <option {% if authuser.gorod == "Липецк" %}selected {% endif %} value="Липецк">Липецк</option>
                <option {% if authuser.gorod == "Махачкала" %}selected {% endif %} value="Махачкала">Махачкала</option>
                <option {% if authuser.gorod == "Москва" %}selected {% endif %} value="Москва">Москва</option>
                <option {% if authuser.gorod == "Набережные Челны" %}selected {% endif %} value="Набережные Челны">Набережные Челны</option>
                <option {% if authuser.gorod == "Нижний Новгород" %}selected {% endif %} value="Нижний Новгород">Нижний Новгород</option>
                <option {% if authuser.gorod == "Нижний Тагил" %}selected {% endif %} value="Нижний Тагил">Нижний Тагил</option>
                <option {% if authuser.gorod == "Новокузнецк" %}selected {% endif %} value="Новокузнецк">Новокузнецк</option>
                <option {% if authuser.gorod == "Новосибирск" %}selected {% endif %} value="Новосибирск">Новосибирск</option>
                <option {% if authuser.gorod == "Омск" %}selected {% endif %} value="Омск">Омск</option>
                <option {% if authuser.gorod == "Оренбург" %}selected {% endif %} value="Оренбург">Оренбург</option>
                <option {% if authuser.gorod == "Пенза" %}selected {% endif %} value="Пенза">Пенза</option>
                <option {% if authuser.gorod == "Пермь" %}selected {% endif %} value="Пермь">Пермь</option>
                <option {% if authuser.gorod == "Ростов-на Дону" %}selected {% endif %} value="Ростов-на Дону">Ростов-на Дону</option>
                <option {% if authuser.gorod == "Рязань" %}selected {% endif %} value="Рязань">Рязань</option>
                <option {% if authuser.gorod == "Санкт-Петербург" %}selected {% endif %} value="Санкт-Петербург">Санкт-Петербург</option>
                <option {% if authuser.gorod == "Сочи" %}selected {% endif %} value="Сочи">Сочи</option>
                <option {% if authuser.gorod == "Тверь" %}selected {% endif %} value="Тверь">Тверь</option>
                <option {% if authuser.gorod == "Тольятти" %}selected {% endif %} value="Тольятти">Тольятти</option>
                <option {% if authuser.gorod == "Томск" %}selected {% endif %} value="Томск">Томск</option>
                <option {% if authuser.gorod == "Тула" %}selected {% endif %} value="Тула">Тула</option>
                <option {% if authuser.gorod == "Тюмень" %}selected {% endif %} value="Тюмень">Тюмень</option>
                <option {% if authuser.gorod == "Улан-Удэ" %}selected {% endif %} value="Улан-Удэ">Улан-Удэ</option>
                <option {% if authuser.gorod == "Ульяновск" %}selected {% endif %} value="Ульяновск">Ульяновск</option>
                <option {% if authuser.gorod == "Уфа" %}selected {% endif %} value="Уфа">Уфа</option>
                <option {% if authuser.gorod == "Хабаровск" %}selected {% endif %} value="Хабаровск">Хабаровск</option>
                <option {% if authuser.gorod == "Чебоксары" %}selected {% endif %} value="Чебоксары">Чебоксары</option>
                <option {% if authuser.gorod == "Челябинск" %}selected {% endif %} value="Челябинск">Челябинск</option>
                <option {% if authuser.gorod == "Ярославль" %}selected {% endif %} value="Ярославль">Ярославль</option>
                <!--<option value="{{city.name}}">{{city.name}}</option>-->
            </select>
        </div>
    </div>
    <div class="col-xs-120 addfield7" style="display: none;">
        <div class="field width-100">
            <input name="problem" type="text" class="width-100" placeholder="{%trans%}Опишите проблему{%endtrans%}">
        </div>
    </div>

    <div class="col-lg-30 col-md-40 col-sm-60 addfield8" {% if authuser.name == false %}style="display: none;" {% endif %}>
        <div class="field">
            <input name="name" value="{{authuser.name}}" type="text" placeholder="{%trans%}Ваше имя{%endtrans%}">
        </div>
    </div>


    <div class="col-lg-30 col-md-40 col-sm-60 addfield2" {% if authuser.email == false %}style="display: none;" {% endif %}>
        <div class="field">
            <input name="email"  value="{{authuser.email}}" type="email" placeholder="Email" pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})" title="{%trans%}Пример{%endtrans%}: example@mail.ru">
        </div>
    </div>


    <div class="col-lg-30 col-md-40 col-sm-60 addfield3" style="display: none;">
        <div class="field">
            <input name="address" type="text" placeholder="{%trans%}В каком районе найти сервис{%endtrans%}">
        </div>
    </div>

    <div class="col-lg-30 col-md-40 col-sm-60" id="select-add-field">
        <div class="field">
            <select class="select2">
                <option selected>{%trans%}еще (не обязательные поля){%endtrans%}</option>
                <option value="1">{%trans%}VIN-код{%endtrans%}</option>
                {% if authuser.email == false %} <option value="2">Email</option> {% endif %}
                <option value="3">{%trans%}В каком районе найти сервис{%endtrans%}</option>
                <option value="4">{%trans%}Год выпуска{%endtrans%}</option>
                {% if authuser.token or (authuser.gorod and authuser.token ==false ) %}<option value="5">{%trans%}Город{%endtrans%}</option> {% endif %}
                <option value="7">{%trans%}Опишите проблему{%endtrans%}</option>
                {% if authuser.name == false %}<option value="8">{%trans%}Ваше имя{%endtrans%}</option> {% endif %}
                <option value="9">{%trans%}Прикрепить фото{%endtrans%}</option>
                <option value="10">{%trans%}Удобное время{%endtrans%}</option>
            </select>
        </div>
    </div>
    <div class="col-lg-30 col-md-40 col-sm-60 addfield9" style="display: none;">
        <div class="add-photo">
            <a href="#" data-toggle="tooltip" title="{%trans%}Вы можете прикрепить фотографию к заявке{%endtrans%}">
                <img src="/frontend/public/img/general/tooltip.png">
                <span>{%trans%}Прикрепить фото{%endtrans%}</span>
                <img src="/frontend/public/img/general/add-photo-plus.png">
            </a>
            <input type="file" name="files[]" multiple class="hidden">
            <div class="images">
            </div>
        </div>
    </div>
    <div class="col-xs-120">
        <div class="time addfield10" style="display: none;">
            <span>{%trans%}Мне удобно посетить сервис{%endtrans%}</span>
            <input name="date" id="date_c" type="date">
            <span>{%trans%}в{%endtrans%}</span>
            <input name="time" type="time">
        </div>
         <div class="get-offer">
            <button onclick="yaCounter{{city.yaCounter}}.reachGoal ('otpravka'); return true;" style="margin-top: 10px;">{%trans%}Получить лучшие предложения от сервисов!{%endtrans%}</button>
        </div>
        <div class="error alert alert-danger" style="display:none;"></div>
        <div class="agree">
            <label>
                <input type="checkbox" required name="rules">
                <span>{%trans%}Я соглашаюсь с{%endtrans%} <a href="pol-zovatel-skoe-soglashenie/" target="_blank">{%trans%}условиями обработки персональных данных{%endtrans%}</a></span>
            </label>
        </div>
    </div>
    <input type="hidden" name="ajax" value="true">
    <input type="hidden" name="stock" value="Нет">
    <div class="clearfix"></div>
</form>
<script type="text/javascript">document.getElementById('date_c').valueAsDate = new Date();</script>


{% block script %}
{% endblock %}


<script type="text/javascript">
    
    var myavto= {};
    {{myavto|raw}}
    
    $(document).ready(function() {
        $('body').on("change",'.select-models select', function(e) {
                //тут проверка на наличие авто
                    var id_model= $(this).val();
                    //найти в масиве моих авто нужную инфу
                    if(id_model)
                    {
                        var mod = myavto[id_model];
                        var vin=0;
                        var year=0;
                        if(mod && id_model)
                        {
                            vin = mod.vin;
                            year = mod.year;
                        }
                        
                        if(year && year>0) // показать год
                        {
                            $('.addfield4').fadeIn(300);
                            $('.addfield4 select').val(year);
                            $('.addfield4 .select2-selection__rendered').html(year);
                            $('.addfield4 .select2-selection__rendered').attr('title',year);
                        }
                        else
                        {
                            $('.addfield4 select').val('');
                            $('.addfield4 .select2-selection__rendered').html('Год выпуска');
                            $('.addfield4 .select2-selection__rendered').attr('title','Год выпуска');
                        }
                        
                        if(vin) // показать вин
                        {
                            $('.addfield1').fadeIn(300);
                            $('.addfield1 input').val(vin);
                        }
                        else $('.addfield1 input').val('');

                    }
        });

{% if u != false  and u != '/' %}


    $('.stocks .stock').click(function () {
        var text = $(this).find('p').text();
        $('html, body').animate({ scrollTop: $('#application').offset().top-150 }, 500);
        $('#application').find('input[name=stock]').val(text);
        return false;
    });
    $('#marka-form-choose ul.menu li:not(#allmarks_list)').click(function(){//Автовыбор марки в форме
        var bid=$(this).children('a').data('bid');
        if(bid){
          $('#application-brand-field > select').val(bid).trigger('change');
        }
    });
    $('#allmarks_list').click(function(){
      $(this).children('.allmarks').toggle();
    });
    



    $('#select-add-field select').change(function(){
      var $this=$(this);
      $('#application .addfield'+$this.val()).removeAttr("style");
      $this.find('option[value='+$this.val()+']').remove();
      if($this.find('option').length<2)$('#select-add-field').remove();
      return false;
    });

{% endif %}

</script>
