<div class="reviews clearfix">
  <h2>Отзывы о работе "В-Автосервис"</h2>
  <div class="block slider-responsive clearfix">
    <div class="col-sm-40">
      <div class="comment">
        <div class="name">Фёдор Хлебов</div>
        <div class="stars">
          <span class="count">5</span>
          <input class="stars star-4" type="radio" checked name="reviewStars"/>
          <label title="gorgeous"></label>

          <input class="stars star-3" type="radio" name="reviewStars"/>
          <label title="good"></label>

          <input class="stars star-2" type="radio" name="reviewStars"/>
          <label title="regular"></label>

          <input class="stars star-1" type="radio" name="reviewStars"/>
          <label title="poor"></label>

          <input class="stars star-0" type="radio" name="reviewStars"/>
          <label title="bad"></label>
        </div>
        <div class="date">12.10.2017 14:32</div>
        <div class="text">
          <p class="text-title">Услуга “Полировка авто”</p>
          Удобство поиска через “В-Автосервис” оценил еще две недели назад, когда оставлял
          заявку на диагностику ходовой части своего Lexus RX 300. Скажем так, в этот раз на
          поиск сервиса вместо заявленных 7 минут ушло почти полчаса, но учитывая то, что в
          итоге абразивная полировка мелких царапин мне обошлась на 60% дешевле, чем в
          автосервисе по соседству с домом, задержку в 20 минут считаю мелочью.
        </div>
      </div>
    </div>
    <div class="col-sm-40">
      <div class="comment">
        <div class="name">Александр Некрасов</div>
        <div class="stars">
          <span class="count">5</span>
          <input class="stars star-4" type="radio" checked name="reviewStars2"/>
          <label title="gorgeous"></label>

          <input class="stars star-3" type="radio" name="reviewStars2"/>
          <label title="good"></label>

          <input class="stars star-2" type="radio" name="reviewStars2"/>
          <label title="regular"></label>

          <input class="stars star-1" type="radio" name="reviewStars2"/>
          <label title="poor"></label>

          <input class="stars star-0" type="radio" name="reviewStars2"/>
          <label title="bad"></label>
        </div>
        <div class="date">10.10.2017 18:12</div>
        <div class="text">
          <p class="text-title">Услуга "Замена фильтра"</p>
          Range Rover Sport. Замена салонного фильтра у официального дилера почти 6000
          рублей. Через «В-Автосервис» мне подобрали специализированную станцию не
          официального дилера, которые сделали замену всего за 1200 рублей вместе со
          стоимостью фильтра. За 15 минут. Более чем доволен!
        </div>
      </div>
    </div>
    <div class="col-sm-40">
      <div class="comment">
        <div class="name">Павел Савченко</div>
        <div class="stars">
          <span class="count">5</span>
          <input class="stars star-4" type="radio" checked name="reviewStars3"/>
          <label title="gorgeous"></label>

          <input class="stars star-3" type="radio" name="reviewStars3"/>
          <label title="good"></label>

          <input class="stars star-2" type="radio" name="reviewStars3"/>
          <label title="regular"></label>

          <input class="stars star-1" type="radio" name="reviewStars3"/>
          <label title="poor"></label>

          <input class="stars star-0" type="radio" name="reviewStars3"/>
          <label title="bad"></label>
        </div>
        <div class="date">28.11.2017 16:49</div>
        <div class="text">
          <p class="text-title">Услуга "Шиномонтаж"</p>
          Спасибо за вашу работу! Оценил преимущество когда не нужно записываться заранее и
          уж тем более стоять в очередях. В самый разгар сезона смены резины с летней на
          зимнюю очереди в шиномонтажах огромные. Я записался через сайт за 5 минут рядом с
          работой на удобное время. Приехав в сервис пришлось пару минут подождать. В то же
          самое время очередь на шиномонтаж была человек 5.
        </div>
      </div>
    </div>
    <div class="col-sm-40">
      <div class="comment">
        <div class="name">Костя Пашков</div>
        <div class="stars">
          <span class="count">4</span>
          <input class="stars star-4" type="radio" name="reviewStars4"/>
          <label title="gorgeous"></label>

          <input class="stars star-3" type="radio" checked name="reviewStars4"/>
          <label title="good"></label>

          <input class="stars star-2" type="radio" name="reviewStars4"/>
          <label title="regular"></label>

          <input class="stars star-1" type="radio" name="reviewStars4"/>
          <label title="poor"></label>

          <input class="stars star-0" type="radio" name="reviewStars4"/>
          <label title="bad"></label>
        </div>
        <div class="date">20.11.2017 10:04</div>
        <div class="text">
          <p class="text-title"> Услуга "Замена колодок"</p>
          Долго подбирали сервис это единственный минус. Ссылались на то, что нет нужных не
          оригинальных колодок. Но зато сама замена передних колодок по очень низкой цене.
          Проверил стоимость колодок – оказалось дешевле чем на самом популярном сайте.
          Приятно. Рекомендую ускорить подбор сервисов и все будет гуд.
        </div>
      </div>
    </div>
    <div class="col-sm-40">
      <div class="comment">
        <div class="name">Никита Белоусов</div>
        <div class="stars">
          <span class="count">5</span>
          <input class="stars star-4" type="radio" checked  name="reviewStars5"/>
          <label title="gorgeous"></label>

          <input class="stars star-3" type="radio"name="reviewStars5"/>
          <label title="good"></label>

          <input class="stars star-2" type="radio" name="reviewStars5"/>
          <label title="regular"></label>

          <input class="stars star-1" type="radio" name="reviewStars5"/>
          <label title="poor"></label>

          <input class="stars star-0" type="radio" name="reviewStars5"/>
          <label title="bad"></label>
        </div>
        <div class="date">26.11.2017 15:46</div>
        <div class="text">
          <p class="text-title">Услуга "Замена лампочек"</p>
          Лампочки купил сам, но поменять не смог. Такое впечатление что полмашины нужно
          разобрать. Сервис подобрали быстро. 300 рублей за все и 15 минут времени. Очень удобно
          что без очереди.
        </div>
      </div>
    </div>
    <div class="col-sm-40">
      <div class="comment">
        <div class="name">Михаил Пивошенко</div>
        <div class="stars">
          <span class="count">5</span>
          <input class="stars star-4" type="radio" checked name="reviewStars6"/>
          <label title="gorgeous"></label>

          <input class="stars star-3" type="radio" name="reviewStars6"/>
          <label title="good"></label>

          <input class="stars star-2" type="radio" name="reviewStars6"/>
          <label title="regular"></label>

          <input class="stars star-1" type="radio" name="reviewStars6"/>
          <label title="poor"></label>

          <input class="stars star-0" type="radio" name="reviewStars6"/>
          <label title="bad"></label>
        </div>
        <div class="date">28.11.2017 21:35</div>
        <div class="text">
          <p class="text-title">Услуга "Химчистка салона"</p>
          Поразила стоимость, если честно. На 1000 дешевле чем у всех и чем в самом сервисе. В
          целом по качеству вопросов нет, по времени проведения тоже. Можно было бы не тратить
          время на прозвоны всех моек и сразу обратиться В-Автосервис.рф
        </div>
      </div>
    </div>
    <div class="col-sm-40">
      <div class="comment">
        <div class="name">Елена Терещенко</div>
        <div class="stars">
          <span class="count">5</span>
          <input class="stars star-4" type="radio" checked name="reviewStars7"/>
          <label title="gorgeous"></label>

          <input class="stars star-3" type="radio" name="reviewStars7"/>
          <label title="good"></label>

          <input class="stars star-2" type="radio" name="reviewStars7"/>
          <label title="regular"></label>

          <input class="stars star-1" type="radio" name="reviewStars7"/>
          <label title="poor"></label>

          <input class="stars star-0" type="radio" name="reviewStars7"/>
          <label title="bad"></label>
        </div>
        <div class="date">24.11.2017 09:51</div>
        <div class="text">
          <p class="text-title">Услуга "Полировка авто"</p>
          Признаться, до недавнего времени не до конца понимала, как работает эта система. Но
          дверку царапнули прямо накануне свадьбы сестры, и времени на раздумья и
          самостоятельный поиск сервиса не было, поэтому решила оставить заявку на сайте.
          Сервис нашли совсем рядом, и самое главное - отполировать дверь мне предложили вне
          очереди, объяснив это, как "привилегию клиентам В-Автосервиса". Не смотря на то, что в
          сервис приехала раньше оговоренного времени, мастер приемщик без проблем принял
          авто в работу. Уже как минимум по этой причине буду рекомендовать друзьям. Елена,
          Audi A6 2011.
        </div>
      </div>
    </div>
    <div class="col-sm-40">
      <div class="comment">
        <div class="name">Андрей Коваленко</div>
        <div class="stars">
          <span class="count">5</span>
          <input class="stars star-4" type="radio" checked name="reviewStars8"/>
          <label title="gorgeous"></label>

          <input class="stars star-3" type="radio" name="reviewStars8"/>
          <label title="good"></label>

          <input class="stars star-2" type="radio" name="reviewStars8"/>
          <label title="regular"></label>

          <input class="stars star-1" type="radio" name="reviewStars8"/>
          <label title="poor"></label>

          <input class="stars star-0" type="radio" name="reviewStars8"/>
          <label title="bad"></label>
        </div>
        <div class="date">25.11.2017 14:26</div>
        <div class="text">
          <p class="text-title">Услуга "Полировка авто"</p>
          Порадовало то, что при заявке сразу указали точную стоимость полировки авто. Обычно
          звонишь в сервис, по телефону оглашают одну сумму, на деле отдельно доплачиваешь
          за полировку фар, отдельно за подкраску. А тут еще и чернение резины сделали в общую
          стоимость. Андрей, Nissan X-Trail T32 2014г
        </div>
      </div>
    </div>


    <div class="col-sm-40">
      <div class="comment">
        <div class="name">Андрей Михайлов</div>
        <div class="stars">
          <span class="count">5</span>
          <input class="stars star-4" type="radio" checked name="reviewStars9"/>
          <label title="gorgeous"></label>

          <input class="stars star-3" type="radio" name="reviewStars9"/>
          <label title="good"></label>

          <input class="stars star-2" type="radio" name="reviewStars9"/>
          <label title="regular"></label>

          <input class="stars star-1" type="radio" name="reviewStars9"/>
          <label title="poor"></label>

          <input class="stars star-0" type="radio" name="reviewStars9"/>
          <label title="bad"></label>
        </div>
        <div class="date">29.11.2017 14:26</div>
        <div class="text">
          <p class="text-title">Услуга "Установка ГБО"</p>
          Ставил газобаллонное оборудование на Приору. Доволен. Особая благодарность вам за то, что не пришлось самому всех обзванивать и узнавать у кого какая цена, у кого какие условия, на когда можно записаться и так далее. Спасибо за вашу работу!
        </div>
      </div>
    </div>

    <div class="col-sm-40">
      <div class="comment">
        <div class="name">Степан Троякуров</div>
        <div class="stars">
          <span class="count">5</span>
          <input class="stars star-4" type="radio" checked name="reviewStars10"/>
          <label title="gorgeous"></label>

          <input class="stars star-3" type="radio" name="reviewStars10"/>
          <label title="good"></label>

          <input class="stars star-2" type="radio" name="reviewStars10"/>
          <label title="regular"></label>

          <input class="stars star-1" type="radio" name="reviewStars10"/>
          <label title="poor"></label>

          <input class="stars star-0" type="radio" name="reviewStars10"/>
          <label title="bad"></label>
        </div>
        <div class="date">03.12.2017 14:26</div>
        <div class="text">
          <p class="text-title">Услуга "Установка ГБО"</p>
          Нужно было поставить ГБО. Подобрали за час 3 варианта. Проверил, разумеется. На самом деле самая низкая цена. Привлек подарок на 3000 рублей обещали его прислать вот жду
        </div>
      </div>
    </div>

    <div class="col-sm-40">
      <div class="comment">
        <div class="name">Александр Стецюк</div>
        <div class="stars">
          <span class="count">5</span>
          <input class="stars star-4" type="radio" checked name="reviewStars11"/>
          <label title="gorgeous"></label>

          <input class="stars star-3" type="radio" name="reviewStars11"/>
          <label title="good"></label>

          <input class="stars star-2" type="radio" name="reviewStars11"/>
          <label title="regular"></label>

          <input class="stars star-1" type="radio" name="reviewStars11"/>
          <label title="poor"></label>

          <input class="stars star-0" type="radio" name="reviewStars11"/>
          <label title="bad"></label>
        </div>
        <div class="date">23.12.2017 14:26</div>
        <div class="text">
          <p class="text-title">Услуга "Ремонт ходовой"</p>
          Сам из Ростова, потребовался ремонт в Москве. Такая жесть найти автосервис рядом, города не знаю. Нашел объявление о бесплатном подборе в нужном районе. Все подобрали, нашли, записали без всякой очереди, одним словом огромное спасибо. Да и поломка то оказалась пустяковой, но когда не разбираешься да еще и в незнакомом городе с таким столкнуться то очень неприятно. Спасибо вашему сайту за помощь.
        </div>
      </div>
    </div>

    <div class="col-sm-40">
      <div class="comment">
        <div class="name">Антон Хромченков</div>
        <div class="stars">
          <span class="count">5</span>
          <input class="stars star-4" type="radio" checked name="reviewStars12"/>
          <label title="gorgeous"></label>

          <input class="stars star-3" type="radio" name="reviewStars12"/>
          <label title="good"></label>

          <input class="stars star-2" type="radio" name="reviewStars12"/>
          <label title="regular"></label>

          <input class="stars star-1" type="radio" name="reviewStars12"/>
          <label title="poor"></label>

          <input class="stars star-0" type="radio" name="reviewStars12"/>
          <label title="bad"></label>
        </div>
        <div class="date">15.01.2018 14:26</div>
        <div class="text">
          <p class="text-title">Услуга "Установка ГБО"</p>
          Полгода тянул с установкой газового оборудования и решил вернуться к этому вопросу сейчас. Цены конечно взлетели при том что инфляции у нас нет. Но менеджер В Автосервис нашел мне то что нужно считай по цене прошлого года. Подбор сервиса для установки действительно бесплатно. В самом сервисе встретили очень хорошо о них тоже оставлю отзыв на сайте и группе на facebook
        </div>
      </div>
    </div>
  </div>

</div>