{% extends "include/main.html" %}
{% set title = block.title %}
{% set description = block.description %}
{% block content %}
    <div class="info title connection clearfix">
        <div class="wrapper clearfix">
            <div class="col-xs-120">
                {{block.head | raw}}
            </div>
        </div>
    </div>
    <div class="info form clearfix">
        <div class="wrapper clearfix">
            <div class="col-xs-90 col-xs-offset-15">
                <form action="" method="POST" id="application_connection">
                    <div class="col-md-40 col-sm-60">
                        <div class="field">
                            <input type="text" name="name_service" placeholder="{%trans%}Название сервиса{%endtrans%}">
                        </div>
                    </div>
                    <div class="col-md-40 col-sm-60">
                        <div class="field">
                            <!--<select name="city">
                                <option value="Москва">Москва</option>
                                <option value="Воронеж">Воронеж</option>
                            </select>-->
                            <input type="text" name="city" placeholder="{%trans%}Город{%endtrans%}" required>
                        </div>
                    </div>
                    <div class="col-md-40 col-sm-60">
                        <div class="field">
                            <input type="text" name="site" placeholder="{%trans%}Сайт{%endtrans%}">
                        </div>
                    </div>
                    <div class="col-md-40 col-sm-60">
                        <div class="field">
                            <input type="text" name="name" placeholder="{%trans%}Ваше имя{%endtrans%}" required>
                        </div>
                    </div>
                    <div class="col-md-40 col-sm-60">
                        <div class="field">
                            <input type="text" name="phone" placeholder="{%trans%}Тел. номер{%endtrans%}" required pattern="^(\s*)?(\+)?([- _():=+]?\d[- _():=+]?){10,14}(\s*)?$" title="{%trans%}Пример{%endtrans%}: +792853001020">
                        </div>
                    </div>
                    <div class="col-md-40 col-sm-60">
                        <div class="field">
                            <input type="text" name="email" placeholder="Email" required pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})" title="{%trans%}Пример{%endtrans%}: example@mail.ru">
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="error alert alert-danger" style="display:none;"></div>
                    <div class="col-xs-120">
                        <div class="get-offer">
                            <button>{%trans%}Присоединиться{%endtrans%}!</button>
                        </div>
                        <div class="agree">
                            <input type="checkbox" required>
                            <span>{%trans%}Я соглашаюсь с <a href="pol-zovatel-skoe-soglashenie/" target="_blank">условиями обработки персональных данных</a>{%endtrans%}</span>
                        </div>
                    </div>
                    <input type="hidden" name="ajax" value="true">
                </form>
            </div>
            <div class="col-xs-120">
                {{block.prepare_masters | raw}}
            </div>
            </div>
        </div>
{% endblock %}