{% extends "admin/include/admin.html" %}

{% set active_menu = 'services' %}

{% block content %}
<!-- Page-Title -->
<div class="row">
    <div class="col-sm-12">
        <h4 class="page-title">Добавить автосервис</h4>
        <div class="pull-right" style="margin-top:-55px;">
            <a href="/admin/services/" class="btn btn-primary">&larr; назад</a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="card-box table-responsive">

            <form method="POST" class="form-horizontal ajax-form" enctype="multipart/form-data" target="form_submit">
                <div class="col-lg-11">
                    <div class="form-group">
                        <label class="col-md-1 control-label">Заголовок</label>
                        <div class="col-md-11">
                            <input type="text" class="form-control" name="title">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-1 control-label">Город</label>
                        <div class="col-md-11">
                            <input type="text" name="city" class="form-control" >
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-1 control-label">Большая картинка (1920х180)</label>
                        <div class="col-md-11">
                            <input type="file" name="img" class="dropify" data-height="300" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-1 control-label">Маленькая картинка (240х180)</label>
                        <div class="col-md-11">
                            <input type="file" name="img_min" class="dropify" data-height="300" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-1 control-label">Описание</label>
                        <div class="col-md-11">
                            <textarea name="description" class="form-control" rows="10"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-1 control-label">Рейтинг</label>
                        <div class="col-md-11">
                            <div class="alert alert-info">
                            <input type="text" name="rating" class="form-control" >
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-1 control-label">Удобства</label>
                        <div class="col-md-11">
                            <div class="alert alert-info">
                            <input type="text" name="facilities" class="form-control" >
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-11 col-md-offset-1">
                            <label>
                                <input type="checkbox" name="is_work" value="true">работает
                            </label>
                        </div>
                    </div>

                </div>
                <div class="col-lg-10 col-lg-offset-1">
                    <div class="alert alert-danger error hidden"></div>
                    <button class="btn btn-success">Добавить</button>
                </div>

                <input type="hidden" name="ajax" value="true">
            </form>
            <iframe name="form_submit" class="hidden"></iframe>

        </div>
    </div>
</div>

{% endblock %}

{% block script %}

<script type="text/javascript">
  $(document).ready(function () {

    $('.dropify').dropify({
      messages: {
        'default': 'Перенесите или кликните для загрузки картинки',
        'replace': 'Перенесите или кликните для загрузки картинки',
        'remove': 'Удалить',
        'error': 'Упс, что-то пошло не так.'
      },
      error: {
        'fileSize': 'Файл слишком большого размера!'
      }
    });


    if($("#editor").length > 0){
      tinymce.init({
        language: 'ru_RU',
        selector: "textarea#editor",
        theme: "modern",
        height:300,
        plugins: [
          "advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker",
          "searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking",
          "save table contextmenu directionality emoticons template paste textcolor"
        ],
        toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | l      ink image | print preview media fullpage | forecolor backcolor emoticons",
        style_formats: [
          {title: 'Bold text', inline: 'b'},
          {title: 'Red text', inline: 'span', styles: {color: '#ff0000'}},
          {title: 'Red header', block: 'h1', styles: {color: '#ff0000'}},
          {title: 'Example 1', inline: 'span', classes: 'example1'},
          {title: 'Example 2', inline: 'span', classes: 'example2'},
          {title: 'Table styles'},
          {title: 'Table row 1', selector: 'tr', classes: 'tablerow1'}
        ]
      });
    }

    $('iframe[name=form_submit]').on('load', function(){
      var data = $(this).contents().text();
      data = jQuery.parseJSON(data);

      var error = $('.ajax-form').find('.error').hide();

      if( data.error ){
        error.show().removeClass('hidden').text(data.text);
      }else{
        window.location.href = "/admin/articles/";
      }

    });

    $('input[name=title]').keyup(function () {

      var text = translit($(this).val());
      $('input[name=address]').val(text);
      $('#address-text').text('https://в-автосервис.рф/'+text+'/');

    });

    $('input[name=address]').keyup(function () {

      var text = translit($(this).val());
      $('input[name=address]').val(text);
      $('#address-text').text('https://в-автосервис.рф/'+text+'/');

    });

    function translit(text){

      var space = '-';
      var text = text.toLowerCase();

      var transl = {
        'а': 'a', 'б': 'b', 'в': 'v', 'г': 'g', 'д': 'd', 'е': 'e', 'ё': 'e', 'ж': 'zh',
        'з': 'z', 'и': 'i', 'й': 'j', 'к': 'k', 'л': 'l', 'м': 'm', 'н': 'n',
        'о': 'o', 'п': 'p', 'р': 'r','с': 's', 'т': 't', 'у': 'u', 'ф': 'f', 'х': 'h',
        'ц': 'c', 'ч': 'ch', 'ш': 'sh', 'щ': 'sh','ъ': space, 'ы': 'y', 'ь': space, 'э': 'e', 'ю': 'yu', 'я': 'ya',
        ' ': space, '_': space, '`': space, '~': space, '!': space, '@': space,
        '#': space, '$': space, '%': space, '^': space, '&': space, '*': space,
        '(': space, ')': space,'-': space, '\=': space, '+': space, '[': space,
        ']': space, '\\': space, '|': space, '/': space,'.': space, ',': space,
        '{': space, '}': space, '\'': space, '"': space, ';': space, ':': space,
        '?': space, '<': space, '>': space, '№':space
      }

      var result = '';
      var curent_sim = '';

      for(i=0; i < text.length; i++) {
        if(transl[text[i]] != undefined) {
          if(curent_sim != transl[text[i]] || curent_sim != space){
            result += transl[text[i]];
            curent_sim = transl[text[i]];
          }
        }
        else {
          result += text[i];
          curent_sim = text[i];
        }
      }


      return result;

    }
  });
</script>

{% endblock %}