<? if(!defined("SECRET_Z*#(1219X*!sZZS")){header('Location: /');}?>

<!-- Footer -->
<footer class="footer text-right">
    <div class="container">
        <div class="row">
            <div class="col-xs-6">
                © В-автосервис
            </div>
        </div>
    </div>
</footer>
<!-- End Footer -->

</div>


</div>



<!-- jQuery  -->
<script src="/frontend/public/js/admin/jquery.min.js"></script>
<script src="/frontend/public/js/admin/bootstrap.min.js"></script>
<script src="/frontend/public/js/admin/detect.js"></script>
<script src="/frontend/public/js/admin/fastclick.js"></script>

<script src="/frontend/public/js/admin/jquery.slimscroll.js"></script>
<script src="/frontend/public/js/admin/jquery.blockUI.js"></script>
<script src="/frontend/public/js/admin/waves.js"></script>
<script src="/frontend/public/js/admin/wow.min.js"></script>
<script src="/frontend/public/js/admin/jquery.nicescroll.js"></script>
<script src="/frontend/public/js/admin/jquery.scrollTo.min.js"></script>

<!-- KNOB JS -->
<!--[if IE]>
<script type="text/javascript" src="/frontend/public/plugins/admin/jquery-knob/excanvas.js"></script>
<![endif]-->
<script src="/frontend/public/plugins/admin/jquery-knob/jquery.knob.js"></script>

<!--Morris Chart-->
<script src="/frontend/public/plugins/admin/morris/morris.min.js"></script>
<!--<script src="/frontend/public/plugins/admin/raphael/raphael-min.js"></script>-->

<!-- Dashboard init -->
<!--<script src="/sources/admin-panel/pages/jquery.dashboard.js"></script>-->

<!-- file uploads js -->
<script src="/frontend/public/plugins/admin/fileuploads/js/dropify.min.js"></script>

<!--form wysiwig js-->
<script src="/frontend/public/plugins/admin/tinymce/tinymce.min.js"></script>



{{ js | raw}}

<!-- App js -->
<script src="/frontend/public/js/admin/jquery.core.js"></script>
<script src="/frontend/public/js/admin/jquery.app.js"></script>

</body>
</html>
